/*color*/
$semantic01 :#8CC3FF;
$semantic02 :#787DFF;
$semantic03 :#3C41FF;

/*반응형 화면 크기*/
$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

$black: #000;
$gray950: #0D0D0D;
$gray900: #1A1A1A;
$gray850: #262626;
$gray800: #262626;
$gray750: #404040;
$gray700: #4D4D4D;
$gray650: #595959;
$gray600: #666666;
$gray550: #737373;
$gray500: #808080;
$gray450: #8C8C8C;
$gray400: #999;
$gray350: #A6A6A6;
$gray300: #B3B3B3;
$gray250: #BFBFBF;
$gray200: #ccc;
$gray150: #D9D9D9;
$gray100: #E6E6E6;
$gray50: #F8F8F8;
$white: #fff;
$width-32: rgba(255, 255, 255, 0.32);
$width-10: rgba(255, 255, 255, 0.10);

/*반응형 화면 크기*/
$mobile: 360px;
$tablet: 768px;
$desktop: 1024px;
$minWidth: 320px;
$maxWidth: 1280px;

$heavy: 900;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;